html {
    height: 99.7%;
    display:flex;
    width: 100%;
    margin:0;
}

body {
    background-image: url("../../user/IMG/sinMarcaDeAgua+Oscuro.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
}
nav {
    display: flex;
    width: 100%;
    background-color: rgba(36, 40, 59, 1);
    flex-wrap: wrap;
    align-items: center;
    height: 10%;
    border-bottom: 2px solid darkorange;
    justify-content: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0;
}

.logo a {
    display: flex;
    width: 100%;
    margin: 0;
}

.logo img {
    margin-bottom: 10px;
    margin-left: 20px;
    width: 100%;
    height: 50px;
}
main{
    display: flex;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
}
.juego{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: center;
}

canvas{
    display: block;
    margin:0;
    border: 2px solid darkorange;
}
.puntuacion h1 {
    display: flex;
    width:auto;
    padding: 10px;
    font-size: 16px;
    color: white;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.3px;
    margin: 0;
    align-items: center;
}
.puntuacion{
    margin-top: 15px;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    height: 15%;
    border-bottom: 1px solid darkorange;
    border-radius: 10px;
    background-color: rgba(36, 40, 59, 0.6);
    justify-content: center;

}
.puntuacion div{
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 10%;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    letter-spacing: .6px;
    margin: 0;
}
.puntuacion .recordActual{
    display: flex;
    width:100%;
    padding: 10px;
    font-size: 12px;
    color: white;
    font-family:'Jost', sans-serif;
    letter-spacing: .3px;
    text-transform: lowercase;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}
.descripcion{
    width: 90%;
    display: flex;
    height: 30%;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid darkorange;
    border-radius: 10px;
    background-color: rgba(36, 40, 59, 0.6);
}
.descripcion p{
    display: flex;
    width:100%;
    padding: 10px;
    font-size: 12px;
    color: white;
    font-family: 'Jost', sans-serif;
    letter-spacing: .6px;
    margin: 0;
    align-items: center;
}
.record{
    width: 90%;
    display: flex;
    height: 30%;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid darkorange;
    border-radius: 10px;
    background-color: rgba(36, 40, 59, 0.6);
}

.record table{
    width: 60%;
    display: flex;
    height: 80%;
    padding: 5px;
    justify-content: center;
}
table tbody{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
tbody tr{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
th{
    display: flex;
    justify-content: space-around;
    width:100%;
    font-size: 12px;
    color: white;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    letter-spacing: .6px;
    margin: 0;
    align-items: center;
    border-bottom: 1px solid darkorange;
}
td{
    display: flex;
    justify-content: space-around;
    width:100%;
    padding: 2px;
    font-size: 11px;
    color: white;
    font-family: 'Jost', sans-serif;
    letter-spacing: .6px;
    margin: 0;
    align-items: center;
}
.salir{
    width: 90%;
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;

}
.salir a{
    display: flex;
    width: 50%;
    height: 100%;
    margin: 0;
    text-decoration: none;
    color: white;
    background-color: darkorange;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: .8px;
}
.salir a:hover{
    background-color: #ffb516;
}